* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./img/Under-Construction-BG.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 190px;
}

.main__video {
  border-width: 3px;
  border-image: linear-gradient(to right, #652d90, #d51d5e);
  border-image-slice: 1;
  background-color: #000;
  /* border: 2px solid red; */
  padding: 12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.footer {
  position: relative;
}

.footer__text {
  background-color: #d51d5e;
  position: absolute;
  font-size: 35px;
  white-space: nowrap;
  color: #fff;
  font-weight: bold;
  animation: anim 100s linear infinite;
  -webkit-animation: anim 100s linear infinite;
}

@keyframes anim {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
